body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.Background{
  position: static;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin: -0.05vh;
}

h3 {
  letter-spacing: 6px;
  text-transform: uppercase;
  font: 1.3rem;
  text-align: center;
}

.text-box{
  text-align: center;
  padding: 1rem 1rem;
  text-transform: uppercase;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Sun {
  cursor: pointer;

  display: flex;
  position: absolute;
  margin-top: 270px;
  margin-left: 10px;
  
  
  
  
  margin-right: auto;
  height: 200px;
  width: 200px;
  content:url('./images/sun.png');
  border-radius: 50%;
  
}
.Mercury {

  display: flex;
  position: absolute;
  margin-top: 420px;
  left: 250px;
  
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  content:url('./images/mercury.png');
  border-radius: 50%;
  
}
.Venus {

  display: flex;
  position: absolute;
  margin-top: 300px;
  left: 370px;
  
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  width: 70px;
  content:url('./images/venus.png');
  border-radius: 50%;
  
}
.Earth {

  display: flex;
  position: absolute;
  margin-top: 350px;
  left: 500px;
  
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  width: 130px;
  content:url('./images/earth.png');
  border-radius: 50%;
  
}

.Mars {

  display: flex;
  position: absolute;
  margin-top: 420px;
  left: 670px;
  
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 60px;
  content:url('./images/mars.png');
  border-radius: 50%;
  
}

.Jupiter{

  display: flex;
  position: absolute;
  margin-top: 300px;
  left: 800px;
  
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
  content:url('./images/jupiter.png');
  border-radius: 50%;
  
}
.Saturn{

  display: flex;
  position: absolute;
  margin-top: 420px;
  left: 1000px;
  
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  width: 200px;
  content:url('./images/saturn.png');
  border-radius: 50%;
  
}
.Uranus{

  display: flex;
  position: absolute;
  margin-top: 320px;
  left: 1200px;
  
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 130px;
  content:url('./images/uranus.png');
  border-radius: 50%;
  
}
.Neptune{

  display: flex;
  position: absolute;
  margin-top: 420px;
  left: 1400px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 90px;
  content:url('./images/neptune.png');
  border-radius: 50%;
  
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 20rem;
}


.recentNews .news-title {
  text-align:center;
  padding-top:30px;
  padding-bottom:30px;
  font-family: 'nimbus-sans-condensed', sans-serif;
  font-size:55px;
  font-weight:bold;
  color: #fff;
}
.recentNews .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.recentNews .ct-blog {
  margin-bottom: 30px;
}
.ct-blog .inner {
  background-color: #FFF;
  padding: 10px;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  height: 100%;
}
.ct-blog .inner:hover {
  background-color: #e6e6e6;
}
.ct-blog .fauxcrop {
  height: 180px;
  overflow: hidden;
}
.ct-blog .fauxcrop img {
  width: 100%;
}
.ct-blog-content {
  display: table;
  padding: 30px 0 28px;
}
.ct-blog-content .ct-blog-date {
  border-right: 1px solid #95A5A6;
  display: table-cell;
  font-family: "Lato", sans-serif;
  padding: 0px 18px 0px 15px;
  text-align: center;
}
.ct-blog-content .ct-blog-date span {
  font-size: 16px;
  color: rgb(20, 117, 175);  
  font-weight: 700;
  display: block;
  line-height: 1;
}
.ct-blog-content .ct-blog-date strong {
  font-size: 25px;
  color: rgb(20, 117, 175);  
}
.ct-blog-content .ct-blog-header {
  color: #000;
  display: table-cell;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 1.1;
  padding: 0 20px;
  vertical-align: top;
}
.btn-news {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 30px;
  text-align: center;
}
.btn-news.btn-contests a {
  color: #fff;
  font-family: 'nimbus-sans-condensed', sans-serif;
  font-size: 24px;
  transition: all 0.2s ease-in-out 0s;
}
.btn-news.btn-contests a:hover {
  color: #000;
}

.form-label{
  margin-right: 1vh;
}


.form-label{
  margin-right: 1vh;
}

.company-name{
  font-family: "Times New Roman", Times, serif;
  font-weight:bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.1;
}

.Alian{
  display: flex;
  position: absolute;
  margin-top: 640px;
  left: 135px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  height: 140px;
  width: 140px;
  content:url('./images/Alian.png');
  border-radius: 50%;
}

.PopUpText{
  letter-spacing: 1px;
  line-height: 1.1;
}